*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%
}
h2{
	color: #fafafa;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bolder;
}
.block_left{
	float: left;
}
section{
	padding: 100px 0;
}
section .bar-section{
	max-width: 250px;
	margin: 25px auto;
	border-top: solid 5px;
}
/*///// MENU //////////////*/

.navbar{
	text-transform: uppercase;
	background-color: #3E5C92;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 1000;
	border: none;
}
.navbar-header a{
	color: #fafafa !important;
	font-family: Arial, sans-serif;
	font-weight: bolder;
	font-size: 1.8em;
	padding: 15px;
}
.navbar-header a:hover{
	color: #333 !important;
}

.navbar-nav li{
	font-size: 1em;
	height: 50px;
	display: block;
	text-decoration: none;
}

.navbar-nav li 	a{
	color: #fafafa !important;
	padding: 15px;
	font-weight: bolder;
	cursor: pointer;
}
.navbar-nav .active a{
	color: #555 !important;
}
.navbar-nav .active{
	background-color: #fafafa;
}

.navbar-nav li 	a:hover{
	color: #333 !important;
}

/*///// HEADER //////////////*/
header{
	position: relative;
	background-color: #1e1b42;
}
header .container{
	padding-top: 200px;
	padding-bottom: 100px;
}
header img{
	margin: 0 auto;
}
header .name{
	color: #fafafa;
	font-size: 4em;
	font-weight: bolder;
	text-transform: uppercase;
	text-align: center;
}

header .post{
	color: #fafafa;
	text-align: center;
	font-size: 1.8em;
}

/*///// A PROPOS //////////////*/
#a-propos{
	position: relative;
	background-color: #5C7BBF;
}
#a-propos .bar-section{
	border-color: #fafafa;
}
#a-propos p{
	color: #fafafa;
	font-size: 1.3em;
}

/*///// Compétences //////////////*/
#competences{
	position: relative;
	background-color: #1e1b42;
}
#competences .bar-section{
	border-color: #5C7BBF;
	margin-bottom: 50px;
}
.competence-icone{
	display: block;
	margin-bottom:  35px;
	padding-right: 35px;
    padding-left: 35px;
}

.competence-icone a{
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
}
.competence-icone img{
	display: block;
	width: 62px;
	height: 62px;
	padding: 4px;
	border-radius: 50%;
	margin: 0 auto;
	background-color: #fafafa;
}

.name-competences{
	margin-top: 10px;
	color: #fff;
}

/*///// Parcours //////////////*/
#parcours{
	position: relative;
	background-color: #5C7BBF;
}
#parcours .bar-section{
	border-color: #fafafa;
	margin-bottom: 50px;
}
#parcours .colonne-1{
	padding-right: 30px;
}
#parcours .colonne-2{
	border-left: 1px solid #fafafa;
	padding-left: 30px;
	text-align: right;
}
#parcours p{
	color: white;
	line-height: 1em
}
#parcours li{
	list-style-type: none;
	margin-bottom: 40px;
}
#parcours li:last-child{
	margin-bottom: 0;
}

#parcours .colonne-1 li .name-form{
	margin-left: 10px;
}
#parcours .colonne-1 li .place{
	margin-left: 10px;
}
#parcours .colonne-1 li .description{
	margin-left: 10px;
}
#parcours .colonne-2 li .name-form{
	margin-right: 10px;
}
#parcours .colonne-2 li .place{
	margin-right: 10px;
}
#parcours .colonne-2 li .description{
	margin-right: 10px;
}
/*///// PORTFOLIO //////////////*/
#portfolio{
	position: relative;
	background-color: #1e1b42;
}
#portfolio .bar-section{
	border-color: #5C7BBF;
}

.mg-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
}
.mg-image img:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
#portfolio .content-img{
	overflow: hidden;
	margin: 15px 0;
}


/*///// Contacts //////////////*/
#contact{
	position: relative;
	text-align:  center;
	background-color: #5C7BBF;
	padding-bottom: 50px;
}
#contact{
	color: white;
	font-weight: 600;
}
#contact .bar-section{
	border-color: #fff;
	margin-bottom: 20px;
}
#contact .intro{
	margin-bottom: 20px;
}
#contact #info-contact{
	margin-bottom: 50px;
}
#contact #info-contact a{
	color:  #fafafa;
}
#contact #info-contact i{
	margin-right: 5px;
}
	/*///// FORMULAIRE /////*/
.bg-success{
	background-color: #90C579;
	border-radius: 5px;
	padding: 5px 35px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.bg-danger{
	margin-top: 15px;
	background-color: #E66464;
	border-radius: 5px;
	padding: 5px 35px;
	margin-bottom: 20px;
}
#contact #inputMessage{
	max-width: 100%;
}
#contact  .erreur-form{
	padding: 4px 20px 4px 10px;
	background-color: #CA4C4C;
	margin-top: 4px;
	margin-bottom: 20px;
	display: none;
	border-radius: 5px;
	color: white;
	float: left;
 }

/*///// LOGIN //////////////*/
#login{
	background-color: #5C7BBF;
	height: 100%;
}


/*///// MEDIAQUERIES //////////////*/
@media (max-width: 767px){
	h2{
		font-size: 2.5em;
	}
	.navbar-default .navbar-toggle {
   		margin-right: 30px;
   	}
	.name{
		font-size: 3em !important;
	}
    .competence-icone{
    	padding-right: 0;
    	padding-left: 0;
    }
	.mg-image {
		margin-bottom:20px;
	}
    #parcours h3{
    	text-align: center;
    	margin-bottom: 20px;
    }
    #parcours .colonne-1{
		margin-bottom: 40px;
		padding: 0 15px;
    }

     #parcours .colonne-2{
     	text-align: left;
     	padding: 0 15px;
     	border: none;
     }
     #parcours .colonne-2 li .name-form{
     	margin-right: 0;
		margin-left: 10px;
	}
	#parcours .colonne-2 li .place{
		margin-right: 0;
		margin-left: 10px;
	}
	#parcours .colonne-2 li .description{
		margin-right: 0;
		margin-left: 10px;
	}
}

